.container{
    width: 800px;
    height: 350px;
    position: relative;
    background-size:cover;
    background-repeat:no-repeat;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-image:url(groups.jpg);
    box-shadow: 20px 20px 20px black;
}
img{
    box-shadow: 50px 50px 50px black;
}